.container{
    background-color: rgb(24, 31, 204);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: gray solid 2px;

}
.logo{
    font-size: 30px;
    font-weight: bold;
}